p{
    color: rgb(0, 81, 54);
    
}
body{
    /* background-image: url(img/prod.jpg); */
    background-size: cover;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.colorDiferente{
    color: rgb(72, 16, 191);
}
.fondoOwo{
background-color: rgb(237, 196, 32);
}