p{
    color: rgb(2, 19, 206);
}
body{
    background-color: antiquewhite;
}

h1{
    padding-left: 50px;
    padding-bottom: 70px;
}

.card-back{

    background-image: url(../img/backgroundcarts.jpg);
}